.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
