.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  color: var(--text-primary-color);
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 300px);
  padding-right: 8px;
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80px;
  color: #fff;
  font-size: 16px;
  background: #2f2f37;
  border: none;
  border-radius: 40px;
}

.placeholder_top {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.placeholder_bottom {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.active_drop {
  background: rgb(76 76 255 / 10%);
  outline: 2px dashed #4c4cff;
  transition: all 0.15s ease;
}
