.burger_ingredients {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
